/* styles.css */

h1{
  text-align: center;
  color: crimson;

}
.byline{
  font-size: 14px ;
  /* margin-left: 45px; */
  line-height: 10px;
  font-weight: 20px;
  text-align: center;
  color: brown;
}
.newsreader-body{
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 30px;
    
  }
  .iceberg {
    font-family: "Iceberg", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }
  img{
    max-width: 100%;
    margin: 10px;
  }
  .newsreader{
    margin-left: 10px;
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
    
  }
  .newsreader-image{
    /* margin-left: 360px; */
    text-align: center;
    font-size: 12px;
  }
  .garage{
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  iframe{
    max-width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .master{
    border-style: dashed;
    margin-left: 80px;
    margin-right: 80px;
    border-color: crimson;
  }
  .end{
    font-style: italic;
    font-size: 15px;
    margin-left: 180px;
  }